@import "tailwindcss";

@theme {
    /* ===== FONT ===== */
    --font-sans: "DM Sans", sans-serif;
    --font-heading: "Poppins", sans-serif;

    --text-body-md: 16px;
    --text-body-md--line-height: 140%;
    --text-body-md--letter-spacing: 0.2px;
    --text-body-md--font-weight: 700;

    --text-body-sm: 14px;
    --text-body-sm--line-height: 140%;
    --text-body-sm--letter-spacing: 0.2px;
    --text-body-sm--font-weight: 500;

    /* HEADING */
    --text-heading-1: 48px;
    --text-heading-1--line-height: 110%;
    --text-heading-1--letter-spacing: 0%;
    --text-heading-1--font-weight: 700;

    --text-heading-2: 40px;
    --text-heading-2--line-height: 110%;
    --text-heading-2--letter-spacing: 0%;
    --text-heading-2--font-weight: 600;

    --text-heading-3: 32px;
    --text-heading-3--line-height: 110%;
    --text-heading-3--letter-spacing: 0%;
    --text-heading-3--font-weight: 600;

    --text-heading-4: 24px;
    --text-heading-4--line-height: 110%;
    --text-heading-4--letter-spacing: 0%;
    --text-heading-4--font-weight: 600;

    --text-heading-5: 20px;
    --text-heading-5--line-height: 110%;
    --text-heading-5--letter-spacing: 0%;
    --text-heading-5--font-weight: 600;

    --text-heading-6: 18px;
    --text-heading-6--line-height: 110%;
    --text-heading-6--letter-spacing: 0%;
    --text-heading-6--font-weight: 600;


    /* ===== BRAND COLORS ===== */
    --color-primary-100: #3ecf4c;
    --color-primary-200: #6be26b;
    --color-primary-300: #94f08b;
    --color-primary-400: #c0fab4;
    --color-primary-500: #e8fde1;

    --color-secondary-100: #ffbd3a;
    --color-secondary-200: #ffd26b;
    --color-secondary-300: #ffdf88;
    --color-secondary-400: #ffecb0;
    --color-secondary-500: #fff9df;

    --color-tertiary-100: #f64920;
    --color-tertiary-200: #f98256;
    --color-tertiary-300: #fca578;
    --color-tertiary-400: #fecaa5;
    --color-tertiary-500: #feeddb;

    /* ===== TEXT ===== */
    --color-text-dark-primary: #222325;
    --color-text-dark-secondary: #757575;
    --color-text-dark-disabled: #6c717a;

    --color-text-light-primary: #ffffff;
    --color-text-light-secondary: #c1c2c4;
    --color-text-light-disabled: #9d9ea1;

    /* ===== BACKGROUND & BORDER ===== */
    --color-bg-primary: #ffffff;
    --color-bg-base: #fffdf3;
    --color-bg-secondary: #f9fafc;
    --color-border: #e7e6e8;

    /* ===== STATE: INFO ===== */
    --color-info-pressed: #044aa2;
    --color-info-hover: #0663c2;
    --color-info-default: #0980e2;
    --color-info-bg: #ebf9fe;

    /* ===== STATE: SUCCESS ===== */
    --color-success-pressed: #1c9675;
    --color-success-hover: #28b380;
    --color-success-default: #38d189;
    --color-success-bg: #e0fddf;

    /* ===== STATE: WARNING ===== */
    --color-warning-pressed: #b5a40d;
    --color-warning-hover: #d8c613;
    --color-warning-default: #fce91b;
    --color-warning-bg: #fcf8ca;

    /* ===== STATE: ERROR ===== */
    --color-error-pressed: #b72315;
    --color-error-hover: #db3d1f;
    --color-error-default: #ff5c2b;
    --color-error-bg: #fce3d1;

    /* ===== GREYSCALE ===== */
    --color-grey-50: #fafafa;
    --color-grey-100: #f5f5f5;
    --color-grey-200: #eeeeee;
    --color-grey-300: #e0e0e0;
    --color-grey-400: #bdbdbd;
    --color-grey-500: #9e9e9e;
    --color-grey-600: #757575;
    --color-grey-700: #616161;
    --color-grey-800: #424242;
    --color-grey-900: #212121;
}